/* home.css */
.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-title {
    font-size: 2rem;
    color: #4da6ff;
  }
  
  .home-text {
    font-size: 1.2rem;
    color: #ccc;
  }